@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root[data-theme='dark'] {
	--main: rgb(8, 3, 16);
	--color-1: 240, 240, 240;
	--color-2: 232, 215, 248;
	--color-3: 120, 163, 255;
	--color-5: 0, 0, 0;
}

:root[data-theme='light'] {
	--main: 245, 245, 245;
	--color-1: 16, 15, 15;
	--color-2: 27, 25, 25;
	--color-3: 120, 163, 255;
	--color-5: 241, 241, 241;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: rgba(var(--color-1));
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}

li {
	list-style: none;
}
