@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root[data-theme='dark'] {
	--main: rgb(8, 3, 16);
	--color-1: 240, 240, 240;
	--color-2: 232, 215, 248;
	--color-3: 255, 163, 200;
	--color-5: 0, 0, 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: rgba(var(--color-2));
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}

li {
	list-style: none;
}
